grammaires/Bibliotheque.dtd

<!ELEMENT root (element+)>
<!ELEMENT element (Type_d_equipement, Designation_longue, AP_num, AP_cnu, AP_cp, Ap_voie, Mairie_gestionnaire)>
<!ATTLIST element
          id CDATA #REQUIRED>
<!ELEMENT Type_d_equipement (#PCDATA)>
<!ELEMENT Designation_longue (#PCDATA)>
<!ELEMENT AP_num (#PCDATA)>
<!ELEMENT AP_cnu (#PCDATA)>
<!ELEMENT AP_cp (#PCDATA)>
<!ELEMENT Ap_voie (#PCDATA)>
<!ELEMENT Mairie_gestionnaire (#PCDATA)>
